@import "./variables.module.scss";

// General css
body {
  margin: 0;
}


// text colors
.text-primary {
  color: $primary-color;
}
.text-secondary {
  color: $secondary-color;
}
.text-light {
  color: $light-color;
}
.text-dark {
  color: $dark-color;
}

// background colors
.bg-primary {
  background-color: $primary-color;
}
.bg-secondary {
  background-color: $secondary-color;
}
.bg-light {
  background-color: $light-color;
}
.bg-dark {
  background-color: $dark-color;
}

.full-w {
  width: 100%;
}

html, body, #__next {
  height: 100%;
  margin: 0;
  padding: 0;
}

#__next {
  display: flex;
  flex-direction: column;
}

/* Estilos del footer */
footer {
  margin-top: auto;
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

@import "./_login.scss";
@import "./_calendar.scss";
